<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <!-- Folder Path relative to EXE Folder -->
  <!--<add key="FolderPath" value="TheAddress.com"/>-->  
  <!-- Absolute Folder Path-->
  <add key="FolderPath" value="C:\users\RC\Desktop\"/>
  
  <!-- Search for specific file extensions -->
  <add key="FilesToIncludeInSearch" value=".aspx,.asp,.xml,.png,.jpg,.pdf"/>
  <!-- Search for all Files -->
  <!--<add key="FilesToIncludeInSearch" value="*.*"/>-->

  <add key="DateFormat" value="MM/dd/yyyy"/>
  <add key="Host" value="http://www.google.com"/>
  <add key="ExcelReportFileName" value="C:\users\RC\Desktop\Report-{0}.xlsx"/>
  <add key="LogFileName" value="ApplicationLogs.txt"/>
  <add key="ExcelReportSheetName" value="ReportResults"/>
</appSettings>
</configuration>
